.book-list {
    margin: 0;
    padding: 0;
    text-decoration: none;
    
    width: 90vw;
    max-width: 468px;
    height: 324px;
    max-height: 324px;

    overflow: auto;
}

.empty-list {
    width: 90vw;
    max-width: 468px;
    height: 350px;
    max-height: 350px;
    text-align: center;
}